.footer {
    margin-top: var(--space-7);
    background-color: var(--gray-10);

    @media #{$md} {
        margin-top: var(--space-8);
    }
}

.footerInner {
    display: block;
    @include mxAuto;
    padding: var(--space-7) var(--space-6);
    max-width: 100%;

    @media #{$md} {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: var(--width-main);
        padding: var(--space-7) var(--space-5);
    }
}

.footerNav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

    @media #{$sp} {
        margin-top: var(--space-5);
    }

    > * {
        @media #{$sp} {
            margin-top: var(--space-4);
        }
        width: 50%;

        @media #{$md} {
            width: initial;                
        }

    }

    a {
        @include hover;
    }

    @media #{$md} {
        flex-wrap: nowrap;
        gap: 2em;
        justify-content: right;
        text-align: left;
    }
}

.footerCopyright {
    padding: var(--space-lg) 0;
    text-align: center;
    background-color: var(--gray-15);

    @media #{$dark} {
        background-color: var(--gray-5);
    }
}