// --------------------
// background-color 背景
// --------------------
.bgWhite {
    background-color: var(--white);
}
.bgGray5 {
    background-color: var(--gray-5);
}
.bgGray10 {
    background-color: var(--gray-10);
}
.bgGray15 {
    background-color: var(--gray-15);
}
.bgGray20 {
    background-color: var(--gray-20);
}
.bgGray25 {
    background-color: var(--gray-25);
}
.bgGray30 {
    background-color: var(--gray-30);
}
.bgGray40 {
    background-color: var(--gray-40);
}
.bgGray50 {
    background-color: var(--gray-50);
}
.bgGray60 {
    background-color: var(--gray-60);
}
.bgGray70 {
    background-color: var(--gray-70);
}
.bgGray80 {
    background-color: var(--gray-80);
}
.bgGray85 {
    background-color: var(--gray-85);
}
.bgGray90 {
    background-color: var(--gray-90);
}
.bgGray95 {
    background-color: var(--gray-95);
}
.bgDark {
    background-color: var(--dark);
}

.bgBlack {
    background-color: var(--black);
}

.bgMain {
    background-color: var(--main);
}

.bgAccent {
    background-color: var(--accent);
}