// --------------------
// display
// --------------------
.grid {
    display: grid;
}

.block {
    display: block;
}

.inlineBlock {
    display: inline-block;
}

.inline {
    display: inline;
}

.table {
    display: table;
}

.tableCell {
    display: table-cell;
}