.lh3xs {
    line-height: 1;
}

.lh2xs {
    line-height: 1.1;
}

.lhXs {
    line-height: 1.2;
}

.lhSm {
    line-height: 1.3;
}

.lhMd {
    line-height: 1.4;
}

.lhLg {
    line-height: 1.5;
}

.lhXl {
    line-height: 1.6;
}

.lh2xl {
    line-height: 1.8;
}

.lh3xl {
    line-height: 2;
}